# Virtual environment
.venv/

# Dataset (too large for GitHub — downloaded in Colab from HuggingFace)
judo_throws_dataset/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
